<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="$projectname$" description="$projectname$" dependencies="">
					<targetDataStore physicalRootPath="~/../Solution/$projectname$/Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="$projectname$ Components" database="master" path="/sitecore/layout/Renderings/Site/$projectname$" />
						<include name="$projectname$ Templates" database="master" path="/sitecore/templates/Sites/Site/$projectname$" />
						<include name="$projectname$ Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Site/$projectname$" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>