<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<authenticationProvider>
				<SharedSecret>QpAgnQR2ms2cGvXRWLKsfZNWUTy4YgdQmVhSCqR6EprtFZuCZjNUv9wyt62NVxbLA9ZkTxhcqE5bcxYnhpz6mUsREtYKhzXp4rFQ26Vx8RZfrtfd6kN7be4E</SharedSecret>
				<WriteAuthFailuresToLog>true</WriteAuthFailuresToLog>
			</authenticationProvider>
		</unicorn>
	</sitecore>
</configuration>